/* COLORS 
Bleu = #0065FC
Bleu clair = #DEEBFF
Gris = #F2F2F2
*/

/* GENERAL */
*, body, html {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    margin: 0 auto;
    max-width: 120rem;
}

a {
    color: #000;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    outline: none;
    padding: 0;
}

/* Utils */
.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.bgc-grey {
    background-color: #F2F2F2;
}

.bgc-white {
    background-color: #fff;
}

.pab-3 {
    padding-bottom: 3rem;
}

/* HEADER */
.heading {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.heading__logo--box {
    margin-right: auto;
    padding-left: 1.5rem;
}

.heading__nav {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2rem;
    order: 3;
    width: 100%;
}

.heading__nav ul{
    display: flex;
    justify-content: space-around;
}

.nav__accomodations, .nav__activities {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
    text-align: center;
    width: 100%;
}

.nav__accomodations {
    border-bottom: .3rem solid #0065FC;
}

.nav__accomodations a {
    color: #0065FC;
}

.nav__activities {
    border-bottom: .3rem solid #F2F2F2;
}

.nav__activities a {
    color: #000;
}

.nav__activities:hover {
    border-bottom: .3rem solid #0065FC;
}

.nav__activities:hover a {
    color: #0065FC;
}

.nav__activities:hover a

.heading__btn {
    background-color: transparent;
    border: none;
    margin-left: 2rem;
    padding-right: 1.5rem;
}

.heading__btn a {
    color: #0065FC;
    font-size: 1.7rem;
    font-weight: 700;
}

/* MAIN */

/* SEARCH SECTION */
.search {
    padding: 0 1.5rem;
}

.search__heading {
    margin-top: 2.5rem;
    max-width: 80%;
}

.search__heading--title {
    font-size: 2rem;
    font-weight: 800;
}

.search__heading--subtitle {
    font-size: 1.45rem;
    font-weight: 400;
    margin-top: 1rem;
}

.search__input {
    margin: 2.5rem 0;
}

.search__input .fa-map-marker-alt {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 30% 0 0 30%;
    padding: 1.5rem;
}

.search__input input {
    border: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: -.5rem;
    margin-top: -.5rem;
    width: 26.5rem;
    padding: 1.3rem 0 1.3rem 1.5rem;
}

.search__btn {
    border: none;
    border-radius: 30%;
    background-color: #0065FC;
    font-size: 1.5rem;
    margin-left: -1.7rem;
    padding: 1.5rem;
}

.search__btn .fa-search {
    color: #fff;
}

.search__btn .input__research {
    display: none;
}

.filters__title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.filters__choices {
    display: flex;
    flex-wrap: wrap;
}

.filters__choices li {
    border: 2px solid #F2F2F2;
    border-radius: 5rem;
    margin-bottom: 1.5rem;
}

.filters__choices li:not(:last-child) {
    margin-right: 1rem;
}

.filters__choices span {
    font-weight: 700;
    padding: 0 1.6rem 0 1rem;
}

.fa-money-bill-wave, 
.fa-child, 
.fa-heart,
.fa-dog {
    background-color: #DEEBFF;
    border-radius: 5rem;
    margin-left: -.1rem;
    padding: 1.5rem;
}

.search__info-result {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.search__info--icon {
    align-self: flex-start;
    margin-right: 1rem;
}

.fa-info {
    border: 2px solid #F2F2F2;
    border-radius: 5rem;
    font-size: 1.2rem;
    padding: .5rem .8rem;
}

/* ACCOMODATIONS SECTION */
.most__popular {
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.most__popular--title {
    display: flex;
    font-size: 2.2rem;
    justify-content: space-between;
}

.most__popular--title h2 {
    font-weight: 700;
}

.accomodations__rooms {
    border-radius: 2rem;
    box-shadow: 4px 1px 10px rgba(0, 0, 0, .1);
    display: flex;
    margin: 1.5rem 2rem;
}

.accomodations__rooms img {
    border-radius: 2rem 0 0 2rem;
    margin: .5rem;
    height: 14rem;
    width: 36%;
    object-fit: cover;
}

.room-infos {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
}

.room-infos h3 {
    font-weight: 700;
}

.room-infos p {
    margin-top: 1rem;
}

.stars-icons {
    margin-top: auto;
}

.stars-icons .fa-star {
    font-size: 1.3rem;
    letter-spacing: -.2rem;
}

.city__hosts {
    margin: 3rem 0;
    padding: 0 2rem;
}

.city__hosts--title {
    font-size: 2.2rem;
    font-weight: 700;
}

.city__hosts--btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.9rem;
    font-weight: 700;
    margin-top: 2rem;
    outline: none;
    padding: 0;
}

.city__hostels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.city__hostels a {
    width: 100%;
}

.city__rooms {
    border-radius: 2rem;
    box-shadow: 4px 1px 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.city__rooms img {
    border-radius: 2rem 2rem 0 0;
    margin: .5rem;
    height: 11rem;
    object-fit: cover;
}

.city__room-infos {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.city__room-infos h3 {
    font-size: 1.7rem;
    font-weight: 700;
} 

.city__room-infos p {
    margin: .5rem 0;
}

/* ACTIVITIES SECTION */
.activities {
    padding: 0 2rem;
}

.activities__title {
    font-size: 2.2rem;
    font-weight: 700;
}

/* FOOTER */